@import "tailwindcss";

/* =========================
   THEME (Tailwind v4)
   ========================= */
@theme {
  --color-brand-50: #f0f9ff;
  --color-brand-100: #e0f2fe;
  --color-brand-500: #0ea5e9;
  --color-brand-600: #0284c7;
  --color-brand-900: #0c4a6e;
  --color-brand-dark: #0f172a;
  --color-brand-accent: #f59e0b;

  --font-sans: "Inter", sans-serif;
  --font-tech: "Orbitron", sans-serif;

  --color-testcolor: #22c55e;
}
